@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<table class="table">
     
     <thead>
          <tr> <th><h2>Product Image</h2></th> <th><h2>Title</h2></th><th><h2>Price</h2></th><th><h2>Description</h2></th> </tr>

     </thead>
    @foreach (var x in Model)
    {
     <tbody>
          <tr>
               <td><img src="~/images/@x.Imageurl" class="img-thumbnail" style="height:150px; width:150px" alt="MyPic" /></td>
                  <td><h4>@x.Title</h4></td>
                  <td><h4>@x.Price</h4></td>
                  <td><h4>@x.Discription</h4></td>
                  
          </tr>
          
     </tbody>
    }
</table>